{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% load staticfiles %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
<link href="{% static "css/datepicker.css" %}" rel="stylesheet" media="screen">
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="{% static "js/bootstrap-datepicker.js" %}"></script>
<script src="{% static "js/button.js" %}"></script>
<script src="{% static "js/bootstrap-dropdown.js" %}"></scirpt>
<head>

    {% block extra-head %}{% endblock %}

<link rel="stylesheet" href="{% static "linde.css" %}"/>
<script type="text/javascript" src="{% static "menu.js" %}"></script>

</head>

<body>
    <div class="container">
    <div id="header">
        {% block header %}

                    <div class="btn-group" id="mainmenu">
                    <button class="btn" data-href={% url "home" %}>{% trans "Home" %}</button>
                    <button class="btn" data-href={% url "list-customers" %}>{% trans "Klienci" %}</button>
                    <button class="btn" data-href={% url "list-gastypes" %}>{% trans "Rodzaje Butli" %}</button>
                    <button class="btn" data-href={% url "list-gasgroups" %}>{% trans "Grupy Butli" %}</button>
                    <button class="btn" data-href={% url "chose-stocktaking" %}>{% trans "Wprowdz Dane" %}</button>
                    <button class="btn" data-href={% url "agree-chose-stocktaking" %}>{% trans "Ustalanie Danych" %}</button>
                    <button class="btn" data-href={% url "approve-chose-stocktaking" %}>{% trans "Zatwierdzenie Danych" %}</button>
                    <button class="btn" data-href={% url "generate-stocktaking" %}>{% trans "Nowa inwentaryzacja" %}</button>
                    <div class="btn-group">
                    {% if user.is_authenticated %}
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                          {{ user.username }} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="{% url "logout" %}">{% trans "Logout" %}</a></li>
                        </ul>
                        {% else %}
            
                        {% endif %}
                    </div>
                    </div>






        {% endblock %}
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <div id="footer">
        {% block footer %}
        {% endblock %}
    </div>
    </div>
</body>

</html>
