{% extends "base.html" %}
{% load i18n %}

{% block content %}
	<table class="table table-striped">
	<tr>
    <td> Numer Arkusza </td> <td> Nazwa Klienta </td> <td> Status </td> <td> Data Inwentaryzacji </td> <td> Notatki </td> <td> Dane </td>
    </tr>
	{% for stocksheet in object_list %}
    {% if stocksheet.processed %}
	<tr class="chose-stocksheet-processed">
    {% else %}
	<tr class="chose-stocksheet-unprocessed">
    {% endif %}
	<td> {{ stocksheet.stock_sheet_number }} </td>
	<td> {{ stocksheet.id_customer.name }} </td>
	<td> {{ stocksheet.status }} </td>
	<td> {{ stocksheet.stockTakingDate|date:"Y-m-d" }} </td>
	<td> {{ stocksheet.notes }} </td>
    <td><form action={% url action stocksheet.stock_sheet_number %}><input class="btn btn-defaul" type="submit" value="Wprowadz"></form></td>
	</tr>
	{% endfor %}
	</table>
    <ul class="pager">
    {% if page_action and stocktaking_number %}
        {% if page.has_previous %}
            <li><a href="{% url page_action stocktaking_number page.previous_page_number %}">previous</a></li>
        {% endif %}
        {% if page.has_next %}
            <li><a href="{% url page_action stocktaking_number  page.next_page_number %}">next</a></li>
        {% endif %}
    {% else%}
        {% if page.has_previous %}
            <li><a href="{% url "list-customers" page.previous_page_number %}">previous</a></li>
        {% endif %}
        {% if page.has_next %}
            <li><a href="{% url "list-customers" page.next_page_number %}">next</a></li>
        {% endif %}
    {% endif %}
{% endblock %}
