{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <body>
	<table class="contenttable">
	<tr>
    <td> Numer Arkusza </td> <td> Nazwa Klienta </td> <td> Status </td> <td> Data Inwentaryzacji </td> <td> Notatki </td> <td> Dane </td>
    </tr>
	{% for stocksheet in object_list %}
    {% if stocksheet.processed %}
	<tr class="chose-stocktaking-processed">
    {% else %}
	<tr class="chose-stocktaking-unprocessed">
    {% endif %}
	<td> {{ stocksheet.stock_sheet_number }} </td>
	<td> {{ stocksheet.id_customer.name }} </td>
	<td> {{ stocksheet.status }} </td>
	<td> {{ stocksheet.stocktaking_date|date:"Y-m-d" }} </td>
	<td> {{ stocksheet.notes }} </td>
    <td><form action={% url action stocksheet.stock_sheet_number %}><input type="submit" value="Wprowadz"></form></td>
	</tr>
	{% endfor %}
	{% if next_page_num < maxpage %}
	<div id='next_page'>
	<a href={% url "home" next_page_num %}>Nastepna</a>
	</div>
	{% endif %}
	{% if prev_page_num >= 0 %}
	<div id='prev_page'>
	<a href={% url "home" prev_page_num %}>Poprzednia</a>
	</div>
	{% endif %}

	</table>
    </body>
{% endblock %}
