{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <body>
	<table class="contenttable">
	<tr>
    </tr>
    <form method=POST>
    {% csrf_token %}
    <input name="number_stocksheet" type="hidden" value={{ number_stocksheet }}>
        <table class="contenttable">
        <tr>
        <td>Nazwa Butli</td>
        <td>Grupa Butli</td>
        <td>Typ Butli</td>
        <td>Ilosc Wpisana</td>
        <td>Ilosc Uzgodniona</td>
        </tr>
    {% for item in items %}
        <tr>
        <td>{{ item.id_gas_cylinder_type.description }}</td>
        <td>{{ item.id_gas_cylinder_type.id_gas_cylinder_group.description }}</td>
        <td>{{ item.id_gas_cylinder_type.gas_cylinder_typecol }}</td>
        <td>{{ item.amount_real }}</td>
        <td><input name="{{ item.id }}" type="number" value="{{ item.amount_real_agreed }}"/></td>
        <tr>
    {% endfor %}
    </table>
    <br>
    {% trans "Notatki" %}
    <br />
    <textarea id="notes" name="notes" rows="3">{{ notes }}</textarea></p>
    <br>
    <input type="submit" value="zapisz">
    </form>

	</table>
    </body>
{% endblock %}
