body {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

#login_wrap{
	width: 400px;
	height: 200px;
	margin: auto;
	background-color: #F7F7F7;
	padding-top: 30px;
	border-radius: 15px;
	border-color: #347BD3;
	border-width: 1px;
	border-style: solid;
}

.content {
    width: 1024px;

}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

.contenttable{
	width:1024px;
	text-align: center;
}

.chose-stocksheet-processed{
    background-color: #CFC;
}

.chose-stocksheet-unprocessed{
    background-color: #FCC;
}

.chose-stocktaking-processed{
    background-color: #CFC;
}

.chose-stocktaking-unprocessed{
    background-color: #FCC;
}

#login{
	width: 300px;
	height: 90px;
	vertical-align: middle;
	text-align: center;
	margin: auto;
	border: none;
}

.menuitem {
	color:#000000;
	margin-left: 10px;
	margin-right: 10px;
	background-color:#aaa;
	border-radius: 5px;
	font-weight:bold;
	text-decoration:none;
}

.menu > li{
}

.submenu {
	display: none;
}
