{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <body>
	<table class="table table-striped">
	<tr>
	<td> Numer</td>	<td> Nazwa	</td> <td> Adres </td> <td> Nip </td>  <td> Telefon </td> <td> Siedziba glowna? </td>
	</tr>
	{% for customer in object_list %}
	<tr>
	<td>
	{{ customer.customer_number }}
	</td>
	<td>
	{{ customer.name }}
	</td>
	<td>
	ul. {{ customer.street }} {{ customer.building_number }}/{{ customer.flat_number }} {{ customer.city }} {{ customer.postalcode }} 
	</td>
	<td>
	{{ customer.nip }}
	</td>
	<td>
	{{ customer.phone }}
	</td>
	<td>
	{{ customer.headquaters }}
	</td>
	</tr>	
	{% endfor %}
	</table>
    <ul class="pager">
    {% if page.has_previous %}	
	<li><a href="{% url "list-customers" page.previous_page_number %}">previous</a></li>
    {% endif %}
    {% if page.has_next %}	
	<li><a href="{% url "list-customers" page.next_page_number %}">next</a></li>
	</FORM>
    {% endif %}
    </ul>
	<FORM action= {% url "add-customer" %}>
	<input class="btn btn-defaul" type="submit" value="dodaj">
	</FORM>
    </body>
{% endblock %}
