{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <body>
	<table class="contenttable">
	<tr>
	<td> Numer</td>	<td> Nazwa	</td> <td> Adres </td> <td> Nip </td>  <td> Telefon </td> <td> Siedziba glowna? </td>
	</tr>
	{% for customer in object_list %}
	<tr>
	<td>
	{{ customer.customer_number }}
	</td>
	<td>
	{{ customer.name }}
	</td>
	<td>
	ul. {{ customer.street }} {{ customer.building_number }}/{{ customer.flat_number }} {{ customer.city }} {{ customer.postalcode }} 
	</td>
	<td>
	{{ customer.nip }}
	</td>
	<td>
	{{ customer.phone }}
	</td>
	<td>
	{{ customer.headquaters }}
	</td>
	</tr>	
	{% endfor %}
	</table>
	
	<FORM action= {% url "add-customer" %}>
	<input type="submit" value="dodaj">
	</FORM>
    </body>
{% endblock %}
