{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="contentdiv">
    <form method="post" aciton="./" class="add-form dodaj-klienta">
        {% csrf_token %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {{ form.as_p }}
        <div class="error">{{error}}</div>
        <input class="btn btn-defaul" type="submit" value="Dodaj">
        {% if messages %}
            <ul class="messages">

            </ul>
        {% endif %}
        <div class="address-error-message"></div>



    </form>
    </div>

{% endblock %}
