{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <form method="post" aciton="./" class="content-form dodaj-produkt">
        {% csrf_token %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {{ form.sheet_return }}
        Archiwalne:
        {{ form.sheet_return_archival }}



        <div class="error">{{error}}</div>
        <input type="submit" value="Zatwierdz"">
        {% if messages %}
            <ul class="messages">

            </ul>
        {% endif %}
        <div class="address-error-message"></div>



    </form>

{% endblock %}