{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <body>
	<table class="contenttable">
	<tr>
    </tr>
    <form method=POST>
    {% csrf_token %}
    <input name="number_stocksheet" type="hidden" value={{ number_stocksheet }}>
        <table class="contenttable">
        <tr>
        <td>{%trans 'Nazwa Butli' %}</td>
        <td>{%trans 'Grupa Butli' %}</td>
        <td>{%trans 'Typ Butli' %}</td>
        <td>{%trans 'Ilosc w arkuszu' %}</td>
        </tr>
    {% for item in items %}
        <tr>
        <td>{{ item.id_gas_cylinder_type.description }}</td>
        <td>{{ item.id_gas_cylinder_type.id_gas_cylinder_group.description }}</td>
        <td>{{ item.id_gas_cylinder_type.gas_cylinder_typecol }}</td>
        <td><input name="number_stocksheet" type="hidden" value={{ number_stocksheet }}>
        <input name="{{ item.id }}" type="number" value="{{ item.amount_real }}"/> </td>
        <tr>
    {% endfor %}
    </table>
    <input type="submit" value="zapisz">
    </form>

	</table>
    </body>
{% endblock %}
