{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <body>
	<table class="contenttable">
	<tr>
    </tr>
    <form method=POST>
    {% csrf_token %}
    <input name="number_stocksheet" type="hidden" value={{ number_stocksheet }}>
    {% for item in items %}
        {{ item.id_gas_cylinder_type.description }}
        <input name="{{ item.id }}" type="number" value="{{ item.amount_real }}"/>
        <br>
    {% endfor %}
    <input type="submit" value="zapisz">
    </form>

	</table>
    </body>
{% endblock %}
